<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/users/symbols">
        <input type="text" name="symbol" placeholder="enter symbol...">
        <button>Add Symbol</button>
    </form>

    <table>
        <thead>
            <th>symbol</th>
            <th>value</th>
        </thead>
        <tbody>
            <% userSymbols.forEach(userSymbol => { %>
                <tr>
                    <td><%= userSymbol.symbol %></td>
                    <td>
                        $<%= symbolValues.find(symbolValue => symbolValue.symbol === userSymbol.symbol).value %>
                    </td>
                </tr>
            <% }) %>
        </tbody>

    </table>

</body>
</html>