<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/users/symbols/add">
        <input type="text" name="symbol" placeholder="symbol...">
        <button>Add</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>USD Rate</th>
            </tr>
        </thead>
        <tbody>
            <% userSymbols.forEach(userSymbol=> { %>
                <tr>
                    <td>
                        <%= userSymbol.symbol %>
                    </td>
                    <td>$3.00</td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>