<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        table, tr, th, td {
            margin: 6px;
            padding: 6px;
            border:1px solid;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>

    <form action="/users/symbols" method="POST">
        <input type="text" placeholder="Enter symbol name" name="symbol"/>
        <button>Add Symbol</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>symbol</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            <% userSymbols.forEach(userSymbol => { %>
                <tr>
                    <td><%= userSymbol.symbol %></td>
                    <td><%= symbolValues.find(sv => sv?.symbol === userSymbol.symbol)?.value  %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>